.Rproj.user
.Rhistory
.RData
.Ruserdata
rsconnect/
data_notUsed
LinesToPolygons_R1_ArcGIS.docx
geospatial_simplification_check/*.png
geospatial_simplification_check/R1_linesToPolygons
geospatial_simplification_check/xOld
xOld 